.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 -1px rgba(236, 233, 233, 0.6);

  :global(.adm-tab-bar-item-active) {
    color: $primary-color;
  }
}

.placeholder {
  height: 49px;
}