.my-masonry-grid {
  padding: 0 10px 10px;
  display: flex;
  gap: 10px;
}

.goods-item {
  margin-top: 10px;
  border-radius: 6px;
  background-color: #fff;
}

.goods-cover {
  display: block;
  width: 100%;
  border-radius: 6px;
}

.goods-content {
  padding: 10px;
}

.goods-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.goods-price {
  margin-top: 6px;
  color: #e02020;
  font-weight: bold;
}

.goods-price span {
  font-size: 16px;
}