.page {
  padding: 0 0 15px;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 200px;
  background-image: url('@/assets/images/home-header.png');
  background-size: cover;
}

.header-row {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 24px;
}

.search {
  flex: 1;
}

.swiper {
  margin: -130px 0 0;
  padding: 0 15px;
  box-sizing: border-box;
}

.swiper-image {
  width: 100%;
}

.adm-swiper-indicator {
  bottom: 10px !important;
}

.container {
  padding: 10px 15px;
}

.app-list {
  margin-top: 10px;
  padding: 0 15px;
  display: flex;
  gap: 10px;
}

.app-item {
  flex: 1;
  text-align: center;
}

.app-image {
  width: 50px;
}

.banner {
  margin-top: 10px;
  width: 100%;
}

.banner-grid {
  margin-top: 10px;
  padding: 0 12px;
  display: flex;
  gap: 10px;
}

.banner-grid-img {
  width: 100%;
  display: block;
}

.banner-grid-item {
  flex: 1;
}

.banner-grid-item:nth-child(2) .banner-grid-img:nth-child(2) {
  margin-top: 7px;
}